
<div class="container-fluid m-2 p-2 card shadow">
    <div class="row">
        <div class="col-sm-6 my-3">
            <h3><i class="fa fa-list"></i>
                إحصـــائيــات</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white text-center bg-primary">
                <div class="card-body">
                    <div class="card-img">
                        <i class="fa fa-person-booth"></i>
                    </div>
                    <h4 class="card-title">العمـــلاء</h4>
                    <p class="card-text">2000</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white text-center bg-primary">
                <div class="card-body">
                    <h4 class="card-title">الاقمشة</h4>
                    <p class="card-text">300</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white text-center bg-primary">
                <div class="card-body">
                    <h4 class="card-title">الاصناف</h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white text-center bg-primary">
                <div class="card-body">
                    <h4 class="card-title">الطلبـــات</h4>
                    <p class="card-text">2002</p>
                </div>
            </div>
        </div>
    </div>
</div>