@model ApplicationUser

@{
    ViewData["Title"] = "إضافة مستخدم جديد";
}
<div class="container shadow border my-2">
    <div class="row  bg-primary">
        <div class="col-sm-6 px-0">
            <h4 class="text-white p-2">
                إضافة مستخدم
            </h4>
        </div>
        <div class="col-sm-6">
            <a asp-action="Index" class="btn my-2 p-2  b-default float-left">رجوع الى القائمة</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 p-2">
            <form asp-action="Register" method="POST">
                <div class="form-group">
                    <label asp-for="FirstName">الاسم الاول</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">الاسم الاخير</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">رقم الهاتف</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">البريد الإلكتروني</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordHash">كلمة المرور</label>
                    <input asp-for="PasswordHash" class="form-control" />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="حــفظ" class="btn b-primary float-left" />
                </div>
            </form>
        </div>
    </div>
</div>