
<div class="container-fluid m-2 py-2 card shadow">
    <div class="row">
        <div class="col-sm-6">
            <h2>
                <i class="fa fa-first-order fa-2x"></i>
                قائــمة الطلبـــات
            </h2>
        </div>
        <div class="col-sm-6">
            <a class="btn b-primary float-left mb-1" asp-action="create">
                <i class="fa fa-plus"></i>
                إضافة طلب جديد
            </a>
        </div>
    </div>
    </div>
