@{
    ViewData["Title"] = "الرئيسيــة";
}

<div class="text-center  mx-auto  mt-5">
    <h1 class="mt-5 home">مرحــباً</h1>
    <h2>محلات عبدالله لأعمال الخياطة</h2>
    <a asp-controller="Account" asp-action="Login" class="btn b-primary mt-5">تسجيــل دخـــــول</a>
</div>
