@{
    ViewData["Title"] = "الرئيسيــة";
}

<div class="text-center mt-5">
    <h1 class="mt-5 home">مرحــباً</h1>
    <h2>محلات عبدالله لأعمال الخياطة</h2>
    <a asp-area="Identity" asp-page="/Account/Login" class="btn b-primary mt-5">تسجيــل دخـــــول</a>
</div>
