@model Customer


<div class="container shadow border my-2">

    <div class="row  bg-primary">
        <div class="col-sm-6 px-0">
        </div>
        <div class="col-sm-6">
            <a asp-action="Index" class="btn my-2 p-2  b-default float-left">رجوع الى القائمة</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 p-2">
            <h4>حذف العميل: @Model.Name</h4>
            <table class="table table-striped p-4 table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <td>الاسم</td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td>البريد الإلكتروني</td>
                        <td>
                            @Model.Email
                        </td>
                    </tr>
                    <tr>
                        <td>رقم الهاتف</td>
                        <td>
                            @Model.Phone
                        </td>
                    </tr>
                </thead>

            </table>
            <div class="form-row">

                <a asp-action="Index" style="line-height: 35px;text-decoration: none;"
                    class="p-1 b-default ml-2">إلغــــاء</a>

                <form asp-action="Remove" method="POST">
                    <input type="hidden" asp-for="CustomerId" />
                    <input type="submit" class="btn b-delete" value="حذف" />
                </form>

            </div>
        </div>
    </div>
</div>